.chip {
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight: 500;
    color: white;
    line-height: 32px;
    padding: 0 12px;
    border-radius: 16px;
    background-color: #eceff1;
    margin-bottom: 1rem;
    margin-right: 1rem;
    background-color: #3d9970!important;
}

.chip .close {
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
}