.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;      
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    margin-top: 20px;
    border: 4px dashed #B5B5B5;
    position: relative;
   
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    border: 4px dashed #ffffff;
  }
  
  .image-title-wrap {
    padding: 0px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #15824B;
    padding: 60px 0;
  }
  
  .file-upload-image {
    height: 500px;
    width: 500px;
    margin: auto;
    padding: 0px;  
  }